{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}
{% include "header.html" %}
    <div class="container py-5">
      <div class="mycard">
        <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
        <p>Phone {{ mymember.phone }}</p>
        <p>Member since: {{ mymember.joined_date }}</p>
      </div>

      <p>Back to a la liste des <a href="/members">Membres</a></p>
    </div>
  {% include "footer.html" %}
{% endblock content %}


