{% extends "master.html" %} 
{% block title %}Welcome to my first Django project!{% endblock title %} 
{% block content %}
<div class="container py-3">
  <h1>Variables du modèle Django</h1>
    <ul class="list-group list-group-flush">
      {% for x in mymembers %}
        <li> Prenom : {{ x.firstname }}</li>
      {% endfor %}
    </ul>
    {% comment %} Créer des variables dans le modèle {% endcomment %}
    {% with firstname="Tobias" %}
      <h1>Hello {{ firstname }}, how are you?</h1>
    {% endwith %}

</div>

{% endblock content %}