{% extends "master.html" %} 
{% block title %}Welcome to my first Django project!{% endblock title %} 
{% block content %}
<div class="container py-3">
  {% include "mymenu.html" with me="ASHUKA" sponsor="W3SCHOOLS" %}
  <h1>Variables du modèle Django</h1>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Date d'adhesion</th>
        </tr>
      </thead>
      {% for x in mymembers %}
        <tr>
          <td>{{ x.id }}</td>
          <td>{{ x.firstname }}</td>
          <td>{{ x.lastname }}</td>
          <td>{{ x.joined_date }}</td>
        </tr>
      {% endfor %}
    </table>
    {% comment %} Créer des variables dans le modèle {% endcomment %}
    {% with firstname="Tobias" %}
      <h1>
        Hello {{ firstname }}, how are you?
        {% if x %}
          Fine thanks !!
          {% else %}
            Sorry, I'm not fine today
        {% endif %}
      </h1>
    {% endwith %}
    {% for y in mydata %}
      <ul>
        <li>{{ y }}</li>
      </ul>
    {% endfor %}
    <p>This page contains a footer in a template.</p>

    {% include 'footer.html' %} 
</div>

{% endblock content %}